*{
 margin: 0;
 padding: 0;
}
body{
 font-family: 'Space Grotesk', sans-serif;
 font-size: 18px;
 text-align: center;
 font-weight: 500;
}
.bg-main-mobile{
 width: 100%;
 height: 35vh;
}
.bg-main-mobile .background{
 height: 100%;
 width: 100%;
}
.card-back{
 position: relative;
 width: 263px;
 margin-left: 85px;
 margin-top: -190px;
}
.card-back img{
 width: 100%;
}
.card-back p{
 position: absolute;
 top: 43%;
 right: 13%;
 font-size: 0.6rem;
 color: white;
 opacity: 0.6;
 letter-spacing: 1px;
 font-weight: 100;
}

.card-front{
 position: relative;
 margin-top: -68px;
 margin-left: 15px;
 width: 263px;
}
.card-front img{
 width: 100%;
}
.profile{
 position: absolute;
 left: 15px;
 width: 50px;
 height: 40px;
 top: 15px; /*  width="450" height="78"*/
}
.profile img{
 width: 480%;
 height: 100%;
}
.card-front h3{
 position: absolute;
 bottom: 50px;
 left: 15px;
 font-size: 1rem;
 color:white;
 word-spacing: 1px;
 letter-spacing: 2px;
 font-weight: 100;
}
.card-front-content{
 position: absolute;
 bottom: 20px;
 left: 15px;
 font-size: 0.6rem;
 display: flex;
 justify-content: space-between;
 width: 82%;
 color: white;
 font-weight:100;
 opacity: 0.7;
 text-transform: uppercase;
}

.data-entry{
 position: relative;
 width: 324px;
 height: auto;
 background-color: white;
 margin-top: 40px;
 margin-left: 4.5%;
 text-align: left;
 padding-top: 10px;
 overflow: hidden;
}
.data-entry p{
 color: hsl(278, 68%, 11%);
 font-size: 0.7rem;
 text-transform: uppercase;
 letter-spacing: 1px;
 word-spacing: 2px;
 font-weight: 700;
 margin-bottom: 5px;
 margin-top: 5px;
}
.data-entry input{
 width: 96%;
 height: 35px;
 padding-left: 10px;
 border-radius: 6px;
 border: 1px solid black;
 opacity: 0.7;
}

.dates{
 width: 98%;
 display: flex;
 justify-content: space-between;
}
.cont-1{
 flex-basis: 50%;
}
.cont-2{
 flex-basis: 50%;
}
.mon-year{
 display: flex;
 justify-content: left;
}
.mon-year input{
 width: 60px;
 margin-right: 5px;
}
/* Chrome, Safari, Edge, Opera */
#cvc::-webkit-outer-spin-button,#cvc::-webkit-inner-spin-button,
#month-input::-webkit-outer-spin-button,#month-input::-webkit-inner-spin-button,
#year-input::-webkit-outer-spin-button,#year-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#cvc[type=number],#month-input[type=number],#year-input[type=number] {
  -moz-appearance: textfield;
}
#cvc, #month-input, #year-input, #name, #card-number{
 font-family: 'Space Grotesk', sans-serif;
 font-size: .9rem;
}
.hide{
 visibility: hidden;
}
.completed{
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0px;
 text-align: center;
}
.completed img{
 margin-top: 40px;
 margin-bottom: 30px;
}
.completed h2{
 letter-spacing: 3px;
 word-spacing: 3px;
 font-size: 1.6rem;
 color: hsl(278, 68%, 11%);
}
.completed p{
 text-transform:none;
 font-size: .9rem;
 font-weight: 500;
 color:hsl(279, 6%, 55%);
}

button{
 width: 100%;
 margin-top: 10px;
 height: 45px;
 margin-bottom: 10px;
 background-color: hsl(278, 68%, 11%);
 color: white;
 border-radius: 7px;
 font-size: .8rem;
 letter-spacing: 1px;
}
button:hover{
 opacity: 0.9;
 color: cyan;
}
#errors{
 margin-top: 4px;
 text-transform: unset;
 color: red;
 opacity: .7;
}

@media (min-width: 375px){
 .bg-main-mobile{
  width: 30vw;
  height: 100vh;
 }
 .card-front{
  margin-top: -400px;
  margin-left: 150px;

 }
 .card-back{
  margin-top: -270px;
  margin-left: 200px;
 }
 .card-back, .card-front{
  width: 340px;
 }
 main{
  display: flex;
  justify-content: space-between;
 }
 .bg-main-mobile{
  flex-basis: 30%;
 }
 .data-entry{
  flex-basis: 50%;
 }
 .data-entry{
  margin-top:150px;
  width: 324px;
  display: flex;
  overflow: hidden;
 }
 .completed{
  width: 324px;
 }
 .profile img{
  width: 700%;
  height: 150%;
 }
 .card-front h3{
  font-size: 1.4rem;
  font-weight: 300;
 }
 .card-front-content p{
  font-size: 0.7rem;
 }
 .card-back p{
  font-size: 0.9rem;
 }
}
